version: "3.9"

services:
    postgres:
        image: postgres:15
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: mypassword
        ports:
            - "5431:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data    
volumes:
    pgdata: